@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "ContaUtilizadores", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        <div class="navbar navbar-inverse navbar-fixed-top">
            <table style="left:80%; position:absolute">
                <tr>
                    <td>
                        @Html.ActionLink("Bem-vindo " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </td>
                    <td>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Sair</a>
                    </td>
                </tr>
            </table>
        </div>
    }
}
else
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <table style="left:80%; position:absolute">
            <tr>
                <td>
                    <img src="~/Content/Imagens/registar.png" style="width:20px; height:20px; cursor:pointer">
                    @Html.ActionLink("Registar", "Registar", "ContaUtilizadores", routeValues: null, htmlAttributes: new { id = "registerLink" })
                </td>
                <td>
                    <img src="~/Content/Imagens/entrar.png" style="width:20px; height:20px; cursor:pointer">
                    @Html.ActionLink("Entrar", "Login", "ContaUtilizadores", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </td>
            </tr>
        </table>
    </div>
}
