
@{
    ViewBag.Title = "Contactos";
}
@*#############################Tabela dos dados do autor#####################################################*@
<table class="contactos">
    <tr style="font-weight:bold; font-family:Arial;">
        <td style="text-align:center; font-size:16px">
            Balbino Pinto <br />
            <img src="~/Content/Imagens/balbino.jpg" style="width:150px; height:150px;">
        </td>
        <td style="font-size:12px; text-align:right;">
            <br /><br /><br />
            <p>aluno nº 17933</p>
            <p>Disciplina de Tecnologia de Internet II</p>
            <p>Curso de Engenharia de Informatica</p>
            <p>Escola de Superior de Tecnologia de Tomar</p>
            <p>Instituto Politecnico de Tomar</p>
            <p>Professor José Casimiro Pereira</p>
        </td>
    </tr>
</table>

@*#############################Tabela dos contactos do autor#####################################################*@
<br /><br />
<table class="contactoAutor">
    <tr>
        <td colspan="2" style="background-color:#00ffff; text-align:center; font-weight:bold">O meu contacto</td>
    </tr>
    <tr>
        <td>Local: </td>
        <td>Residençia IPT - Rua Estrada Serra Quinta Contador</td>
    </tr>
    <tr>
        <td>Contactos: </td>
        <td>
            +351 965 172 005   <a href="https://www.facebook.com/Byynnoo"><img src="~/Content/Imagens/face.png" style="width:30px; height:30px;" /></a>
        </td>
    </tr>
</table>



