
@{
    ViewBag.Title = "Utilizador";
}

<br /><br />
<h4>Utilizadores autenticados com os seus roles</h4>
<br />
<table style="width:400px; height:200px; border:2px solid #123456; font-family:'Times New Roman'; font-size:16px;">

    <tr style="border:2px solid #123456; background-color:#808080;">
        <th style="border:2px solid #123456;">Nome Utilizador</th>
        <th style="border:2px solid #123456;">UserName</th>
        <th style="border:2px solid #123456;">Password</th>
        <th style="border:2px solid #123456;">Email</th>
        <th style="border:2px solid #123456;">Roles</th>
    </tr>
    @* O utilizador 'Santos Pires é administrador' *@
    <tr style="border:2px solid #123456;">
        <td style="border:2px solid #123456;">Santos Pires</td>
        <td style="border:2px solid #123456;">santospires@inforqui.com</td>
        <td style="border:2px solid #123456;">1990Daucua.</td>
        <td style="border:2px solid #123456;">santospires@inforqui.com</td>
        <td style="border:2px solid #123456;">Administrador</td>
    </tr>
    @* O utilizador Andre Quintão é Administrador *@
    <tr style="border:2px solid #123456;">
        <td style="border:2px solid #123456;">Andre Quintão</td>
        <td style="border:2px solid #123456;">andrequintao99@inforqui.com</td>
        <td style="border:2px solid #123456;">1990Daucua.</td>
        <td style="border:2px solid #123456;">andrequintao99@inforqui.com</td>
        <td style="border:2px solid #123456;">Administrador</td>
    </tr>
    @* O utilizador 'Manuel Pinto Sousa' é Funcionario *@
    <tr style="border:2px solid #123456;">
        <td style="border:2px solid #123456;">Manuel Pinto Sousa</td>
        <td style="border:2px solid #123456;">manuel1982@inforqui.com</td>
        <td style="border:2px solid #123456;">1990Daucua.</td>
        <td style="border:2px solid #123456;">manuel1982@inforqui.com</td>
        <td style="border:2px solid #123456;">Funcionario</td>
    </tr>
    @* O utilizador 'Mariano Freitas' é Funcionario *@
    <tr style="border:2px solid #123456;">
        <td style="border:2px solid #123456;">Mariano Freitas</td>
        <td style="border:2px solid #123456;">freitasmariano90@inforqui.com</td>
        <td style="border:2px solid #123456;">1990Daucua.</td>
        <td style="border:2px solid #123456;">freitasmariano90@inforqui.com</td>
        <td style="border:2px solid #123456;">Funcionario</td>
    </tr>
    @* O utilizador 'Mario Suares' é Cliente *@
    <tr style="border:2px solid #123456;">
        <td style="border:2px solid #123456;">Mario Suares</td>
        <td style="border:2px solid #123456;">suares1985@inforqui.com</td>
        <td style="border:2px solid #123456;">1990Daucua.</td>
        <td style="border:2px solid #123456;">suares1985@inforqui.com</td>
        <td style="border:2px solid #123456;">Cliente</td>
    </tr>
    @* O utilizador 'Martinho Gusmão' é Cliente *@
    <tr style="border:2px solid #123456;">
        <td style="border:2px solid #123456;">Martinho Gusmão</td>
        <td style="border:2px solid #123456;">gusmao1979@inforqui.com</td>
        <td style="border:2px solid #123456;">1990Daucua.</td>
        <td style="border:2px solid #123456;">gusmao1979@inforqui.com</td>
        <td style="border:2px solid #123456;">Cliente</td>
    </tr>
    @* O utilizador Rosito Belo Martins é Cliente *@
    <tr style="border:2px solid #123456;">
        <td style="border:2px solid #123456;">Rosito Belo Martins</td>
        <td style="border:2px solid #123456;">rositobelo@inforqui.com</td>
        <td style="border:2px solid #123456;">1990Daucua.</td>
        <td style="border:2px solid #123456;">rositobelo@inforqui.com</td>
        <td style="border:2px solid #123456;">Cliente</td>
    </tr>
</table>