@model InforQui_17933.Models.ApplicationUser

@{
    ViewBag.Title = "Apagar";
}

<h4>Apagar o utilizador</h4>

<h5>Pretende apagar mesmo este utilizador?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regressar para a lista", "Index")
        </div>
    }
</div>
