@model InforQui_17933.Models.ApplicationUser

@{
    ViewBag.Title = "Detalhes";
}

<h4>Details dos utilizadores</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h5>Lista dos utilizadores</h5>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>Não há utilizador que associa a este role</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regressar para a lista", "Index")
</p>



